<div class='center jumbotron'>

	<div class='row'>
		<%= image_tag("twitter-big.png", :alt => "twitter_fart") %>
	</div>
	
	<div class='row'>
		<%= image_tag("twitter_signin.png", :alt => "twitter_signin") %>
		<%= link_to "sign in with Twitter", "/auth/twitter" %>
	</div>

</div>

<div class='row'>

				<h2>Like this site?  Donate to keep it going.</h2>

				<p><%= link_to "Donate with Stripe", "", class: "btn btn-info navbar-btn" %> 
				<%= link_to "Donate with PayPal", "", class: "btn btn-info navbar-btn" %>
				<%= link_to "Donate with Braintree", "", class: "btn btn-info btn-small" %>
				</p>
		
	
</div>
